.homepage__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
    padding: 20px;
    align-items: center;
}
.homepage__filtersname{
    display: flex;
}
.homepage__btn::before{
    content: 'Dark';
}
.dark .homepage__btn::before{
    content: 'Light';
}
.homepage__filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}